[package]
authors = ["zuisong <378818573@qq.com>"]
default-run = "chen_lang"
edition = "2021"
name = "chen_lang"
version = "0.1.0"
description = "A tiny programming language written in rust"
[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.2", optional = true, features = ["derive"] }
clap_complete = { version = "4.4.1", optional = true }
thiserror = "1.0.48"
tracing = "0.1.37"
tracing-subscriber = "0.3.20"

[dev-dependencies]
pretty_assertions = "1.4.0"

[[bin]]
name = "chen_lang"
path = "src/bin/chen_lang.rs"
required-features = ["binaries"]

[[bin]]
name = "wasm"
path = "src/wasm/main.rs"
required-features = ["wasm"]

[features]
binaries = ["dep:clap", "dep:clap_complete"]
wasm = []

default = ["binaries"]
